doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Setsuna
    link(rel="stylesheet" href="style.css")
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet")
    link(rel="icon" href="img/sword.svg" type="image/svg+xml")

  body
    div.belt
      h1 Samurai Slash

    audio(src="twn.wav" preload="auto")

    div.contents
      div#mega.aa
        img(src="img/megaman.gif")
      
      div.aa.enemy-wrapper
        canvas#canvas
        #santa.aa.enemy
          img(src="img/flowey.png")

        #fake.aa.enemy
          img(src="img/fakeman.gif")

        #galaxy.aa.enemy
          img(src="img/galaxyman.gif")

        #jewel.aa.enemy
          img(src="img/jewelman.gif")

        #concrete.aa.enemy
          img(src="img/concreteman.gif")

        #meta.aa.enemy
          img(src="img/metaknight.png")

        #giygas.aa.enemy
          img(src="img/giygas.png")

      div#wow !!!

    
    div#text-area
    div.btn-wrapper
      button#next(disabled) next

    div.belt.bottom-black
      .loading-line
      p.bottom-description After "!!!" appeared, press ENTER asap.

    script(src="js/script.js")
    script(src="js/twntwntwn.js")
    script(src="js/view.js")