doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Setsuna
    link(rel="stylesheet" href="style.css")
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet")

  body
    div.belt
      h1 Samurai Slash

    div.contents
      div#mega.aa
        img(src="img/megaman.gif")
      
      div.aa.enemy-wrapper
        canvas#canvas
        #santa.aa.enemy
          img(src="img/santa.gif")

        #fake.aa.enemy
          img(src="img/fakeman.gif")

        #galaxy.aa.enemy
          img(src="img/galaxyman.gif")

        #jewel.aa.enemy
          img(src="img/jewelman.gif")

        #concrete.aa.enemy
          img(src="img/concreteman.gif")

      div#wow !!!

    
    div#text-area
    div.btn-wrapper
      button#next next

    div.belt.bottom-black

    script(src="js/script.js")
    script(src="js/twntwntwn.js")